// Color Variables
$primary-color: #2fbbea;
$secondary-color: #ea762f;
$text-color: #02293f;
$text-color-dark: #010b11;
$body-color: #fff;
$border-color: #bcced4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';