{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="mb-3 post-meta">
          <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author }}</a>,
          {{ .PublishDate.Format "Jan 2, 2006" }} | Categories:  {{ range .Params.Categories }}
          <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
          {{ end }}
        </div>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
      </div>
      {{ if .Site.DisqusShortname}}
      <div class="col-lg-8 mx-auto block shadow">
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- related articles -->
{{ $related := .Site.RegularPages.RelatedIndices . "keywords" | first 3 }}
{{ with $related }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="mb-2">
            <h3 class="mt-0">Related Articles You May Like</h3>
          </div>
          {{ range . }}
          {{ .Render "article" }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- /related articles -->

<!-- cta -->
{{ .Render "cta" }}
<!-- /cta -->
{{ end }}
